
src/.ipynb_checkpoints/

src/.~lock.prueba.csv#

*.aux

reports/tesis.blg

reports/tesis.fdb_latexmk

reports/tesis.fls

reports/tesis.idx

reports/tesis.ilg

reports/tesis.ind

reports/tesis.lof

reports/tesis.log

reports/tesis.out

reports/tesis.synctex.gz

reports/tesis.toc

reports/tesis.bbl

*.log

data/train_pca_mandel_entradas.hdf5
